In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib notebook

In [44]:
data = pd.read_csv("2018-06-21-block-perf1.txt")
data['dt'] = data.time.diff().fillna(0)

In [45]:
data.columns

Index(['time', 'ip', 'message', 'dt'], dtype='object')

In [46]:
data['x'] = data.message.apply((lambda x: int(x.split(' ')[2])))
data['y'] = data.message.apply((lambda x: int(x.split(' ')[3])))
data['z'] = data.message.apply((lambda x: int(x.split(' ')[4])))

In [75]:
cleaned_data = data[['dt', 'x', 'y', 'z']]
cleaned_data.describe()

                 dt             x             y             z
count  10730.000000  10730.000000  10730.000000  10730.000000
mean       0.029337     64.899068     62.779683     55.443989
std        0.085480     32.687723     31.414097     30.857785
min        0.000000      0.000000      0.000000      0.000000
25%        0.027402     35.000000     37.250000     35.000000
50%        0.028018     65.000000     59.000000     49.000000
75%        0.028571     93.000000     89.000000     68.000000
max        8.811069    127.000000    127.000000    127.000000

In [76]:
array_version = np.array(data[['x','y','z']])
array_version.shape

(10730, 3)

In [77]:
# Test saving
np.savez('roli-block-session-data.npz', array_version)

In [89]:
# Test loading
with np.load('roli-block-session-data.npz') as data:
    dataset = data['arr_0']
    
dataset.shape

(10730, 3)

In [110]:
# Look at Gesture-RNN version:
# URL: https://github.com/lamtharnhantrakul/GestureRNN-ML4Lightpad/blob/master/data/test_data.txt
# Download (if needed)
import urllib.request
url = 'https://github.com/lamtharnhantrakul/GestureRNN-ML4Lightpad/raw/master/data/test_data.txt'
urllib.request.urlretrieve(url, './gesture-rnn-data.txt')
# Parse the file
grnn_df = pd.read_csv('./gesture-rnn-data.txt', delim_whitespace=True, header=None, lineterminator=';')
grnn_df = grnn_df[[1,2,3]]
grnn_df.columns = ['x','y','z']
# Prove it works
grnn_df.head()
# Do some analysis
grnn_df.describe()

grnn_array = np.array(grnn_df)

#data['x'] = data.message.apply((lambda x: int(x.split(' ')[2])))
#data['y'] = data.message.apply((lambda x: int(x.split(' ')[3])))
#data['z'] = data.message.apply((lambda x: int(x.split(' ')[4])))

                 x            y            z
count  3805.000000  3805.000000  3805.000000
mean      0.520070     0.480631     0.218433
std       0.297183     0.281762     0.279394
min       0.000000     0.000000     0.000000
25%       0.234676     0.230769     0.000000
50%       0.538462     0.495482     0.113725
75%       0.769231     0.692308     0.305882
max       0.999950     0.999950     1.000000

In [99]:
grnn_df

       0.461538 0.615385 0.;
0
1      0.461538 0.615385 0.;
2      0.461538 0.615385 0.;
3      0.461538 0.615385 0.;
4      0.461538 0.615385 0.;
5      0.461538 0.615385 0.;
6      0.461538 0.615385 0.;
7      0.461538 0.615385 0.;
8      0.461538 0.615385 0.;
9      0.461538 0.615385 0.;
10     0.461538 0.615385 0.;
11     0.461538 0.615385 0.;
12     0.461538 0.615385 0.;
13     0.461538 0.615385 0.;
14     0.461538 0.615385 0.;
15     0.461538 0.615385 0.;
16     0.461538 0.615385 0.;
17     0.461538 0.615385 0.;
18     0.461538 0.615385 0.;
19     0.461538 0.615385 0.;
20     0.461538 0.615385 0.;
21     0.461538 0.615385 0.;
22     0.461538 0.615385 0.;
23     0.461538 0.615385 0.;
24     0.461538 0.615385 0.;
25     0.461538 0.615385 0.;
26     0.461538 0.615385 0.;
27     0.461538 0.615385 0.;
28     0.461538 0.615385 0.;
29     0.461538 0.615385 0.;
30     0.461538 0.615385 0.;
...                      ...
3775   0.769231 0.538462 0.;
3776   0.769231 0.538462 0.;
3777   0.769231 0.538462 0.;
3778   0.769231 0.538462 0.;
3779   0.769231 0.538462 0.;
3780   0.769231 0.538462 0.;
3781   0.769231 0.538462 0.;
3782   0.769231 0.538462 0.;
3783   0.769231 0.538462 0.;
3784   0.769231 0.538462 0.;
3785   0.769231 0.538462 0.;
3786   0.769231 0.538462 0.;
3787   0.769231 0.538462 0.;
3788   0.769231 0.538462 0.;
3789   0.769231 0.538462 0.;
3790   0.769231 0.538462 0.;
3791   0.769231 0.538462 0.;
3792   0.769231 0.538462 0.;
3793   0.769231 0.538462 0.;
3794   0.769231 0.538462 0.;
3795   0.769231 0.538462 0.;
3796   0.769231 0.538462 0.;
3797   0.769231 0.538462 0.;
3798   0.769231 0.538462 0.;
3799   0.769231 0.538462 0.;
3800   0.769231 0.538462 0.;
3801   0.769231 0.538462 0.;
3802   0.769231 0.538462 0.;
3803   0.769231 0.538462 0.;
3804   0.769231 0.538462 0.;

[3804 rows x 1 columns]